<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>authorized</filter-name>
        <filter-class>filter.authorized</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorized</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>listener.CountMember</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAccountController</servlet-name>
        <servlet-class>controller.listAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCategoryController</servlet-name>
        <servlet-class>controller.listCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProductController</servlet-name>
        <servlet-class>controller.listProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccountController</servlet-name>
        <servlet-class>controller.addAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryController</servlet-name>
        <servlet-class>controller.addCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>controller.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountController</servlet-name>
        <servlet-class>controller.updateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryController</servlet-name>
        <servlet-class>controller.updateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductController</servlet-name>
        <servlet-class>controller.updateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-class>controller.deleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>controller.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeAccountController</servlet-name>
        <servlet-class>controller.activeAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetailController</servlet-name>
        <servlet-class>controller.productDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPriceServlet</servlet-name>
        <servlet-class>controller.FilterByPriceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAccountController</servlet-name>
        <url-pattern>/listAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCategoryController</servlet-name>
        <url-pattern>/listCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProductController</servlet-name>
        <url-pattern>/listProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccountController</servlet-name>
        <url-pattern>/addAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryController</servlet-name>
        <url-pattern>/addCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountController</servlet-name>
        <url-pattern>/updateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryController</servlet-name>
        <url-pattern>/updateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeAccountController</servlet-name>
        <url-pattern>/activeAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailController</servlet-name>
        <url-pattern>/productDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPriceServlet</servlet-name>
        <url-pattern>/FilterByPriceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
